* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box {
    height: 100%;
    width: 600px;

    .head {
        width: 100%;
        height: 25px;
        display: flex;

        li {
            flex: 1;
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;

        ul {
            width: 100%;
            display: flex;

            li {
                flex: 1;
                button{
                    background: rgb(205, 236, 248);
                }
            }
        }
    }
}